<!DOCTYPE html>
<html lang="en">

<head>


  	<title>Hoolie Tutoring</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="description" content="Hoolie">
	<meta name="keywords" content="Hoolie">
  	<meta name="author" content="Hackathon">
    <title> Hoolie | Welcome</title>
    <link rel="stylesheet" href="./style.css">
</head>
{% extends '__header.html' %}
    {% block body %}
<body>

    	
<div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-4">
                      	<img src="http://via.placeholder.com/400x400" class="img-rounded"/>
        
                          <h1 class="my-4"> <large>Cristian Bernal</large></h1>
                          <p> Electrical engineering | 1st year  </p>
                            <form method="POST" roe="form">
                                <div class="row">
                                    <div class="col-md-4">
                        
                                    </div>
                                
                        		</div>
                        		
                    		</form>
                    		
                    	</div>
                    	
                    <div>
                    
                       <div class="col-md-2" style="align-items: center">

                      </div>

                      <div class="col-md-2" style="align-items: center">
                          &nbsp <div></div>
                          &nbsp <div></div>
                          &nbsp <div></div>
                          &nbsp <div></div>
                          &nbsp <div></div>
                          &nbsp <div></div>
                          &nbsp <div></div>
                          &nbsp <div></div>
                          <div class="loader" style="alignment: center"></div>

                      </div>

                      </div>
                    </div>
                    	
                    <!-- right hand side -->
<hr />

		<!-- Header text (Person's name) -->
        <h2>About</h2>
        
        <!-- Body text (paragraph 1) -->
        <p>Currently undertaking a Bachelor of Electrical Engineering/Masters of Biomedical Engineering degree at The University of New South Wales. I’m an extremely ambitious individual, driven by self improvement, as the one thing that’s on my mind is “What can I do to become the best I can be?”. I have a keen interest in the field of robotics and artificial intelligence, along with their implementation in the medical field and aim to pursue a career in this field in the future. Having been brought up with a problem based learning outlook throughout my career, soft skills such as teamwork, communication and leadership are no stranger to me. Currently I am undertaking UNSW Engineering Society’s Volunteer development program, and the Engineering Industries program.        </p>

		<!-- Header text (Person's name) -->
        <h2>Related tags</h2>
        
        <!-- Body text (paragraph 2) -->
        <p> 
        	<a class="btn btn-primary btn-xs" href="#" role="button">ENGG1000</a>
        	<a class="btn btn-primary btn-xs" href="#" role="button">MATH1231</a>
        	<a class="btn btn-primary btn-xs" href="#" role="button">ELEC1111</a>
        	<a class="btn btn-primary btn-xs" href="#" role="button">PHYS1241</a>
        	<a class="btn btn-primary btn-xs" href="#" role="button">COMP1521</a>
		</p>

		<!-- Header text (Person's name) -->
        <h2>Rating</h2>
        
        <!-- Body text () -->
        <p>	5/5</p>
        <img src="./stars.png" class="stars">

		<!-- Header text (Points) -->
        <h2>Total Hoo Coin count</h2>
        
        <!-- Body text (points) -->
        <p> 1000 Hoo Coins</p>
		
		<!-- Header text (Bank) -->
        <h2>Bank</h2>	

		<!-- Body text (bank) -->
        <p> 200 Hoo Coins</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
  </div>
  
  	<footer>
    	<p>Hoolie, Copyright &copy; 2018</p>
	</footer>
{% endblock %}
</body>
